.player-container {
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 70px;
}

input {
  width: 70%;
  // margin-top: 20px;
}

input:hover{
  cursor: pointer;
}

.spaceman {
  min-width: 50px;
  height: 60px;
  position: absolute;
  top: 445px;
  right: 43%;
  z-index: 2;
}

.time-control {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.play-control{
  margin-top: 40px;
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding-left: 15%;
}

.play-button {
  width: 130px;
  height: 122px;
}

.play-button:hover{
  cursor: pointer;
}

.play-btn{
  width: 130px;
  height: 30px;
}
.play-btn:hover{
  cursor: pointer;
}

.pause-btn {
  width: 130px;
  height: 30px;
}
.pause-btn:hover{
  cursor: pointer;
}

.skip-back{
  cursor: pointer;
}
.skip-forward{
  cursor: pointer;
}